body
{
    font-family: 'Roboto', sans-serif;
    background-position: cover;
}

h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

a
{
    font-family: 'Roboto', sans-serif;
    background-color: lightskyblue;
    color: white;
    font-size: 25px;
    width: 35%;
    vertical-align: middle;
}